---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<div class="max-w-[800px] mx-auto my-10">
  <h2 class="my-2">Projects</h2>
  <div class="grid grid-cols-3 gap-[20px]">
    {
      projects.map((project) => (
        <li class="list-none bg-gray-100 box-border rounded-[10px] relative overflow-hidden">
          <a href={`/projects/${project.id}/`} class="flex flex-col box-border">
            {project.data.heroImage && (
              <Image width={720} height={360} src={project.data.heroImage} alt="" />
            )}
            <h4 class="p-3">{project.data.title}</h4>
            <p class="text-base text-gray-500 p-3 mb-px">
              {project.data.description}
            </p>
          </a>
        </li>
      ))
    }
  </div>
</div>